// Breakpoint variables
$breakpoint-mobile: 450px;
$breakpoint-tablet: 481px;
$breakpoint-laptop: 769px;
$breakpoint-desktop: 1025px;
$breakpoint-tv: 1201px;

// Breakpoint mixins
@mixin breakpoint-mobile {
    @media (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin breakpoint-tablet-portrait {
    @media (min-width: $breakpoint-tablet) and (orientation: portrait) {
        @content;
    }
}

@mixin breakpoint-tablet-landscape {
    @media (min-width: $breakpoint-tablet) and (orientation: landscape) {
        @content;
    }
}

@mixin breakpoint-laptop {
    @media (min-width: $breakpoint-laptop) {
        @content;
    }
}

@mixin breakpoint-desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}