// Base Color
$base-black: #0000;
$base-white: #FFFF;
// Text Color
$title-color: #11142D;
$body1-color: #515151;
$body2-color: #9A9AB0;

// Text Link Color
$purple: #F3692E;
$white: #FFFF;

// Primary Color
$primary-85: #001646;
$primary-70: #0887CF;
$primary-50: #36B2F8;
$primary-30:#81D1FF;
$primary-10:#F4F7F8;

// Secondary Color
$secondary-85:#5F1E03;
$secondary-70:#B43A05;
$secondary-50:#F86338;
$secondary-30:#FF8F5B;
$secondary-10:#FFDDD3;

// Accent 1 Color
$accent1-85:#018134;
$accent1-70:#00A843;
$accent1-50:#0BD25A;
$accent1-30:#5DEF97;
$accent1-10:#CAF1DA;

// Other Color
$warning: #EEAF22;
$error: #F04461;
$success: #41DA7E;
$info: #F1F1F6;


// System Background
$system-bg-primary: #FFFFFF;
$system-bg-secondary:#202020;
// Separators Color
$separators-primary: #E1E1FB;
$separators-secondary:#E1E1E1;

// Fills Color
$btn-fill:#FFFFFF;
$img-placeholder:#E2E2EA;
$progress-container:#E2E2EA;
$text-field:#FFFFFF;
$text-field2:#F6F6F7;
$icon:#9A9AB0;
$disabled:#E0E0E0;